// app global css in SCSS form

html, body {
  overflow-x: hidden;
}

// Npr. naša flota
h1 {
    font-family: 'Zalando Sans Expanded';
    font-weight: 800; 
    font-size: 11.5vw;
}

//Npr podnaslovi
h2 {
    font-family: 'Zalando Sans Expanded';
    font-weight: 700; 
    font-size: 12vw;
}

//jos jedan tier nize
h3 {
    font-family: 'Zalando Sans Expanded';
    font-weight: 500; 
    font-size: 8vw;
}

//jos jedan tier nize
h4 {
    font-family: 'Zalando Sans Expanded';
    font-weight: 500; 
    font-size: 7vw;
}

p {
    font-family: 'Zalando Sans Expanded';
    font-weight: 100; 
    font-size: 4vw;
}