// app global css in SCSS form

//html, body {
//  overflow-x: hidden;
//}

// Npr. naša flota
h1 {
    font-family: 'Zalando Sans Expanded';
    font-weight: 700; 
    font-size: 3rem;
}

//Npr podnaslovi
h2 {
    font-family: 'Zalando Sans Expanded';
    font-weight: 800; 
    font-size: 2.5rem;
}

//jos jedan tier nize
h3 {
    font-family: 'Zalando Sans Expanded';
    font-weight: 500; 
    font-size: 1.8rem;
}

//jos jedan tier nize
h4 {
    font-family: 'Zalando Sans Expanded';
    font-weight: 500; 
    font-size: 1.85rem;
}

p {
    font-family: 'Zalando Sans Expanded';
    font-weight: 100; 
    font-size: 0.9rem;
}